body {
  font-family: monospace;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-main
{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-img
{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flex{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* calculator desing */
.calc{
  width: 320px;
  margin: 60px auto;
  height: 90vh;
}
#answer{
  background-color: #e2e2e2;
  padding: 15px;
  font-size: 30px;
  width: 280px;
  height: 55px;
  text-align: right;
  border: none;
  outline: none;
  margin: 5px;
}
.button{
  margin: 7px;
  background-color: #ffffff;
  height: 50px;
  width: 60px;
  color: #333;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.button1{
  width: 134px;
}
.button2{
  width: 283px;
}















